<%- include ('../partials/head.ejs') -%>
<%- include ('../partials/header.ejs') -%>
<%- include ('../partials/searchbar.ejs') -%>

<h3 class="test font-bold text-xl mb-2">Test</h3>

<%- include ('../partials/footer.ejs') -%>
<%- include ('../partials/after-footer.ejs') -%>